$xs: 8px;
$sm: 16px;
$md: 24px;
$lg: 32px;
$xl: 48px;
$xxl: 64px;

// Mixin for margin
@mixin margin($direction: all, $size: $sm) {
  @if $direction == all {
    margin: $size;
  } @else if $direction == top {
    margin-top: $size;
  } @else if $direction == bottom {
    margin-bottom: $size;
  } @else if $direction == left {
    margin-left: $size;
  } @else if $direction == right {
    margin-right: $size;
  } @else if $direction == top-bottom {
    margin-top: $size;
    margin-bottom: $size;
  } @else if $direction == left-right {
    margin-left: $size;
    margin-right: $size;
  }
}

// Mixin for padding
@mixin padding($direction: all, $size: $sm) {
  @if $direction == all {
    padding: $size;
  } @else if $direction == top {
    padding-top: $size;
  } @else if $direction == bottom {
    padding-bottom: $size;
  } @else if $direction == left {
    padding-left: $size;
  } @else if $direction == right {
    padding-right: $size;
  } @else if $direction == top-bottom {
    padding-top: $size;
    padding-bottom: $size;
  } @else if $direction == left-right {
    padding-left: $size;
    padding-right: $size;
  }
}
