// ---- Spacing ----
$xs: 8px;
$sm: 16px;
$md: 24px;
$lg: 32px;
$xl: 48px;
$xxl: 64px;

// ---- Font Sizes ----
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 22px;
$font-size-xxl: 24px;
$font-size-xxxl: 24px;
