@use "./../utilities/colors" as *;
@use "./../mixins" as *;

section.login-container {
  @include display-flex(column);
  form {
    @include display-flex(column);
    gap: 1rem;
    padding-top: 1rem;

    .password-wrapper {
      position: relative;

      > input {
        padding-right: 2rem;
      }

      > svg {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    select {
      width: 100%;
      padding-right: 1.5rem;
    }

    input {
      color: $text-primary-color1;
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
}
