@use "./../utilities/colors" as *;
@use "./../mixins" as *;

section.profile-page {
  > .profile-wrapper {
    .profile-header {
      padding: 1.5rem;
      border-radius: 12px;
      background: var(--background-card);
      @include display-flex(column, space-between, flex-start);
      gap: 2rem;

      .profile-top-banner {
        @include display-flex(row, space-between, center);
        gap: 2rem;
        width: 100%;

        h3 {
          width: 100%;
          color: var(--primary-blue);
          font-size: 48px;
          text-transform: capitalize;
          font-weight: 600;
          text-align: center;
          margin: 0;
        }
        button {
          svg {
            color: var(--primary-blue);
            height: 50px;
            width: 50px;
          }
        }
      }
      .profile-header-content-wrapper {
        @include display-flex(row, space-between, flex-start);
        gap: 2rem;
        width: 100%;

        .profile-picture {
          flex: 1;
          @include display-flex(column, flex-start, flex-start);
          gap: 1rem;
          width: 200px;

          > .pic-box {
            @include display-flex(row, space-between, center);
            gap: 0.4rem;
            height: 100%;
            background: var(--card-secondary);
            border-radius: 4px;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;

            > button {
              height: auto;
              align-self: stretch;
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              background-color: var(--light-gray);

              > svg {
                height: 20px;
                width: 20px;
              }
            }

            > img {
              max-width: 100%;
              border-radius: 50%;
            }
          }
          > button {
            text-align: start;
            font-size: 20px;
            font-weight: 500;
            width: fit-content;
          }
        }

        .header_details {
          flex: 2;
          @include display-flex(column, space-between, flex-start);
          gap: 1rem;

          .details_wrapper {
            @include display-flex(row, flex-start, center);
            gap: 2rem;
            padding: 0.5rem 1.5rem;
            background: var(--secondary-purple);
            width: 100%;
            border-radius: 6px;

            svg {
              color: var(--white);
              height: 25px;
              width: 25px;
            }

            p {
              color: var(--white);
              font-size: 24px;
              text-transform: capitalize;
            }
          }
        }
      }
    }

    .profile-content {
      margin-top: 1rem;
      padding: 1.5rem;
      border-radius: 12px;
      background: var(--background-gradient-dark);
      @include display-flex(column, flex-start, flex-start);
      gap: 1rem;

      .profile-content-wrapper {
        padding: 1rem 1.5rem;
        @include display-flex(row, space-between, flex-start);
        gap: 2rem;
        border: 2px solid var(--extra-light-gray);
        border-radius: 6px;
        width: 100%;

        p {
          &:nth-child(1) {
            font-size: 20px;
            text-transform: capitalize;
            color: var(--extra-light-gray);
          }
          &:nth-child(2) {
            font-size: 22px;
            text-transform: capitalize;
            font-weight: 500;
            color: var(--white);
          }
        }
      }
    }
  }
}
