@use "../utilities/colors.scss" as *;
@use "./../mixins" as *;
@use "sass:color";

.interaction-container {
  background: $background-gradient-dark;
  padding: 1rem;
  border-radius: 12px;
  @include box-shadow();

  > h2 {
    text-align: center;
  }

  > .admin-chat-controls {
  }

  > .interaction-wrapper {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 0.5rem;
    margin-top: 2rem;
    &[data-chat="true"] {
      grid-template-columns: 1fr;
    }

    > .users-list {
      min-height: 20rem;
      max-height: 25rem;
      overflow-y: scroll;
      padding-right: 0.2rem;

      > .list-item {
        @include display-flex(row, start, start);
        gap: 1rem;
        border-bottom: 1px solid $background-hover;
        margin-bottom: 1rem 0;
        padding: 1rem;
        cursor: pointer;
        width: 100%;
        color: $extra-light-gray;

        &[data-active="true"] {
          background: $background-sidebar;
          @include box-shadow();
        }

        &.type-admin {
          font-weight: 600;
        }

        &:last-child {
          border: none;
          margin-bottom: 0;
        }

        > img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }

        > p {
          font-size: 24px;
          text-transform: capitalize;
        }
      }
    }

    > .chat-container {
      @include display-flex(column, space-between, flex-start);
      gap: 0.5rem;

      .say-hi {
        font-size: 48px;
        margin: auto;
      }

      > .message-list {
        min-height: 20rem;
        max-height: 20rem;
        overflow-y: scroll;
        width: 100%;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;

        gap: 0.5rem;
        > .inner-wrapper {
          margin-top: auto;

          > .message {
            background: $secondary-teal;
            padding: 0.5rem;
            border-radius: 6px;
            width: fit-content;
            min-width: 15rem;
            margin-right: auto;
            max-width: 95%;

            &[data-user="false"] {
              background: $leave-color;
              margin-left: auto;
              margin-right: 0;
            }

            > .name {
              font-size: 18;
              font-weight: 600;
            }
            > .content {
              font-size: 22px;
            }
            > .date {
              font-size: 14px;
              text-align: end;
            }
          }
        }
      }

      > form {
        @include display-flex(row, space-between, flex-end);
        width: 100%;

        input {
          height: 3rem;
        }

        input[type="text"] {
          width: 80%;
        }

        input[type="submit"] {
          width: 18%;
        }
      }
    }
  }
}
