// Mixin for responsive media queries
@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

@mixin display-flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-size-weight-family($size, $weight, $family: var(--chillax)) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
}
