@use "./colors" as app-colors;
@use "./mixins" as app-mixin;

$max-width: 1440px;
$min-width: 360px;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: app-colors.$background-color;
  color: app-colors.$text-primary-color1;
  font-family: var(--chillax-font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

.width-container {
  height: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

// scrollbar start
/* width */
body::-webkit-scrollbar {
  width: 5px;
}

.s-bar::-webkit-scrollbar {
  width: 3px;
}

/* Track */
body::-webkit-scrollbar-track,
.s-bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px app-colors.$secondary-color2;
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb,
.s-bar::-webkit-scrollbar-thumb {
  background: app-colors.$secondary-color1;
  border-radius: 10px;
}
// scrollbar ends

button {
  background: app-colors.$secondary-color1;
  color: app-colors.$secondary-color1;
  border: none;
  &:hover {
    background-color: app-colors.$secondary-color1;
  }
}

.alert-success {
  color: app-colors.$secondary-color1;
}

.alert-warning {
  color: app-colors.$secondary-color1;
}

.alert-error {
  color: app-colors.$secondary-color1;
}

// text
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1rem;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

input {
  padding: 0.5rem 0.75rem;
  outline: none;
  border-radius: 0.5rem;
  @include app-mixin.font-size-weight-family(16px, 400);
  border: 1px solid app-colors.$secondary-color2;
}

.error {
  color: app-colors.$secondary-color1;
  padding: 1rem 0;
}

.msg-p {
  color: app-colors.$secondary-color1;
}
