@use "./colors" as colors;
@use "./mixins" as mixins;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-primary-color1);
  font-family: var(--chillax-font), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

// scrollbar start
/* width */
body::-webkit-scrollbar {
  width: 5px;
}

.s-bar::-webkit-scrollbar {
  width: 3px;
}

/* Track */
body::-webkit-scrollbar-track,
.s-bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-secondary-2);
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb,
.s-bar::-webkit-scrollbar-thumb {
  background: var(--color-secondary-1);
  border-radius: 10px;
}
// scrollbar ends

button {
  background: var(--color-secondary-1);
  color: var(--color-secondary-1);
  border: none;
  &:hover {
    background-color: var(--color-secondary-1);
  }
}

.alert-success {
  color: var(--color-secondary-1);
}

.alert-warning {
  color: var(--color-secondary-1);
}

.alert-error {
  color: var(--color-secondary-1);
}

// text
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1rem;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

input {
  padding: 0.5rem 0.75rem;
  outline: none;
  border-radius: 0.5rem;
  @include font-size-weight-family(16px, 400);
  border: 1px solid var(--color-secondary-3);
}

.error {
  color: var(--error-color);
  padding: 1rem 0;
}

.msg-p {
  color: var(--color-white-1);
}
